duckdb
faiss-cpu
fastapi
langchain
numpy
openai
pandas
pdfplumber
pydantic
pydantic-settings
python-docx
python-dotenv
pymupdf
PyYAML>=6.0
requests
sentence-transformers
tqdm

tokenizers
